$xs: "320px";
$sm: "768px";
$md: "992px";
$lg: "1200px";

$orange: #ec6708;

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin noto() {
    font-family: 'Noto Sans KR', sans-serif;
}

@mixin lato() {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

dl {
    margin-bottom: 0;
}

address {
    margin-bottom: 0;
}

.form-control {
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    .row {
        margin-left: 0;
        margin-right: 0;
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media (min-width: $sm) {
        padding-left: 10px;
        padding-right: 10px;
        .row {
            margin-left: 0;
            margin-right: 0;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

body {
    min-width: 320px;
    @include noto();
    font-size: 13px;
    color: #666;
    line-height: 26px;

    @media (min-width: $sm) {
        font-size: 14px;
        line-height: 24px;
    }

    @media (min-width: $lg) {
        font-size: 15px;
        line-height: 27px;
    }
}

a {
    color: #666;
    &:hover {
        color: #666;
    }
}

/*
 * μƒλ‹¨
 */
#header {
    height: 230px;
    background-image: url(/assets/images/bg_header.jpg);
    background-size: 200% auto;
    background-position: 50% 0;
    @media (min-width: $sm) {
        height: 380px;
        background-size: cover;
        background-position: 50% 50%;
    }
    @media (min-width: $lg) {
        height: 560px;
    }
}
#top-nav {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 45px;
    background-color: rgba(#222, .85);
    .btn-menu {
        margin-top: 5px;
        margin-left: -6px;
        padding: 10px 6px;
        border: 0;
        //width: 22px;
        //height: 15px;
        width: 34px;
        height: 35px;
        background-color: transparent;
        .bar {
            display: block;
            width: 22px;
            height: 3px;
            background-color: $orange;
            border-radius: 1px;
            & + .bar {
                margin-top: 3px;
            }
        }
    }
    .logo {
        margin-top: 7px;
        img {
            display: block;
            margin: 0 auto;
            width: 110px;
        }
    }
    .btn-search {
        float: right;
        margin-top: 5px;
        margin-left: -6px;
        padding: 0;
        border: 0;
        //width: 22px;
        //height: 15px;
        width: 34px;
        height: 35px;
        background-color: transparent;
        color: #999;
        font-size: 18px;
    }
    @media (min-width: $sm) {
        height: 54px;
        .btn-menu {
            margin-top: 9px;
        }
        .logo {
            margin-top: 8px;
            img {
                width: 136px;
            }
        }
        .btn-search {
            margin-top: 9px;
        }
    }
    @media (min-width: $lg) {
        height: 35px;
        .logo {
            margin-top: 77px;
            img {
                width: 281px;
            }
        }
        .member {
            margin-top: 4px;
            li {
                display: inline;
                a {
                    float: left;
                    @include lato();
                    font-size: 11px;
                    color: #aaa;
                }
                & + li {
                    &:before {
                        float: left;
                        margin-top: -1px;
                        margin-left: 8px;
                        margin-right: 8px;
                        content: '\7C';
                        font-size: 8px;
                    }
                }
            }
        }
        .sns {
            li {
                display: inline;
                a {
                    float: left;
                    margin-left: -1px;
                    width: 36px;
                    height: 35px;
                    border-left: 1px solid #333;
                    border-right: 1px solid #333;
                    color: #888;
                    font-size: 16px;
                    text-align: center;
                    line-height: 35px;
                    text-decoration: none;
                    &:hover, &:focus {
                        background-color: #333;
                    }
                    &.facebook {

                    }
                    &.blog {
                        font-family: 'Arial', sans-serif;
                        font-weight: bold;
                    }
                }
            }
        }
        .search-area {

        }
    }
}

/*
 * ν‘Έν„°
 */
#footer {
    height: 275px;
    background-color: #ececec;
    border-top: 1px solid #e5e5e5;
    @media (min-width: $sm) {
        height: 280px;
    }

    @media (min-width: $lg) {
        height: 190px;
    }
}
