@import 'common';
.member {
    #header {
        background-image: url(/assets/images/member/membership_top_bg.jpg);
        background-size: cover;
    }
    section {
        .section-header {
            text-align: center;
            padding-top: 45px;
            padding-bottom: 45px;
            > h2 {
                @include lato();
                color: $orange;
            }
            > hr {
                display: block;
                width: 48px;
                margin: 18px auto;
                border-top: 3px solid $orange;
            }
        }
        .section-content {
            .procedure {
                padding: 26px 7px;
                margin-bottom: 45px;
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
                background-color: #fff;
                @media(min-width: $sm) {
                    padding: 0;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    margin-bottom: 60px;
                }
                @media(min-width: $md) {
                    margin-bottom: 84px;
                }
                ol {
                    li {
                        position: relative;
                        display: inline-block;
                        width: 24.26%;
                        text-align: center;
                        vertical-align: top;
                        @media(min-width: $sm) {
                            width: 24.67%;
                        }
                        .pcd-img {
                            margin-bottom: 15px;
                            @media(min-width: $sm) {
                                display: inline-block;
                                margin-bottom: 0;
                                margin-right: 15px;
                            }
                        }
                        h3 {
                            display: inline-block;
                            font-size: 13px;
                            color: #b5b5b5;
                            font-weight: 400;
                            line-height: 16px;
                            @media(min-width: $sm) {
                                display: inline-block;
                                font-size: 15px;
                                vertical-align: middle;
                            }
                        }
                        &:after {
                            position: absolute;
                            top: 5%;
                            right: -10.2px;
                            font-family: "fontello";
                            content: "\F105";
                            font-size: 30px;
                            color: #b5b5b5;
                            @media(min-width: $sm) {
                                font-size: 36px;
                                top: 10%;
                            }
                        }
                        &.active {
                            h3 {
                                color: $orange;
                            }
                        }
                        &.active:after {
                            color: $orange;
                        }
                        &:last-child:after {
                            content: "";
                            display: inline-block;
                            clear: both;
                        }
                    }
                }
            }
        }
    }
}

/* Login */
.login {
    padding-bottom: 60px;
    @media(min-width: $sm) {
        padding-left: 44px;
        padding-right: 44px;
        padding-bottom: 80px;
    }
    @media(min-width: $md) {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 90px;
    }
    .section-content {
        padding: 30px 20px 35px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        @media(min-width: $sm) {
            padding: 82px 48px 128px;
        }
        @media(min-width: $md) {
            padding-left: 143px;
            padding-right: 143px;
        }
        .login-form {
            padding-bottom: 30px;
            border-bottom: 1px solid #ddd;
            @media(min-width: $sm) {
                text-align: center;
                padding-bottom: 42px;
            }
            .form-group {
                @media(min-width: $sm) {
                    width: 73.8%;
                    display: inline-block;
                }
                @media(min-width: $lg) {
                    width: 81%;
                }
                .form-control {
                    margin-bottom: 15px;
                    height: 39px;
                    @media(min-width: $sm) {
                        width: 100%;
                        margin-bottom: 18px;
                    }
                }
            }
            .btn-area {
                @media(min-width: $sm) {
                    margin-left: 13px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
        .dot-list {
            padding-top: 30px;
            li {
                font-size: 12xpx;
                color: #666;
                line-height: 20px;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-size: 12xpx;
                    color: #666;
                    &:hover,&:focus {
                        text-decoration: underline;
                        color: $orange;
                    }
                }
                @media(min-width: $sm) {
                    position: relative;
                    margin-bottom: 0;
                    line-height: 30px;
                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}


/* find */
.find {
    padding-bottom: 80px;
    @media(min-width: $sm) {
        padding-left: 13px;
        padding-right: 13px;
    }
    @media(min-width: $md) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 120px;
    }
    .section-content {
        > h3 {
            font-size: 14px;
            color: #222;
            margin-top: 44px;
            margin-bottom: 15px;
            &:first-child {
                margin-top: 0;
            }
            @media(min-width: $sm) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        .find-form {
            padding: 30px 19px;
            margin-bottom: 27px;
            border: 1px solid #ddd;
            background-color: #fff;
            @media(min-width: $sm) {
                padding: 33px 30px;
            }
            @media(min-width: $md) {
                padding-right: 266px;
            }
            @media(min-width: $lg) {
                padding-right: 465px;
            }
            dl {
                dt {
                    margin-bottom: 10px;
                    label {
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                    &.mt-dt {
                        margin-top: 18px;
                    }
                }
                dd {
                    .form-control {
                        width: 100%;
                        height: 30px;
                    }
                    &.email {
                        position: relative;
                        padding-right: 110px;
                        select {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100px;
                            font-size: 12px;
                            padding: 0;
                            padding-left: 6px;
                            @media(min-width: $sm) {
                                width: 114px !important;
                            }
                        }
                        span {
                            display: none;
                        }
                    }
                }
                @media(min-width: $sm) {
                    overflow: hidden;
                    dt {
                        float: left;
                        clear: both;
                        width: 200px;
                        height: 30px;
                        line-height: 30px;
                        margin-bottom: 20px;
                        label {
                            font-size: 14px;
                        }
                        &.mt-dt {
                            margin: 0;
                        }
                    }
                    dd {
                        float: left;
                        width: 68.8%;
                        .form-control {
                            width: 250px;
                            margin-bottom: 20px;
                        }                        
                        &.email {
                            padding-right: 144px;
                            .form-control {
                                width: 137px;
                                display: inline-block;
                            }
                            span {
                                font-size: 13px;
                                color: #666;
                                height: 30px;
                                line-height: 30px;
                                margin: 0 2px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .reference {
                margin-top: 10px;
                @media(min-width: $sm) {
                    margin: 0;
                    margin-left: 200px;
                }
            }
        }
    }
}

/* terms */
.terms {
    padding-bottom: 117px;
    .section-content {
        article {
            margin-bottom: 45px;
            &:nth-of-type(3) {
                margin-bottom: 0;
            }
            @media(min-width: $sm) {
                margin-bottom: 78px;
            }
            h4 {
                font-size: 14px;
                color: #222;
                margin-bottom: 15px;
                @media(min-width: $sm) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            .article-content {
                width: 100%;
                height: 165px;
                font-size: 13px;
                color: #666;
                line-height: 18px;
                overflow-y: scroll;
                padding: 20px;
                margin-bottom: 15px;
                border: 1px solid #dfdfdf;
                background-color: #fff;
                @media(min-width: $sm) {
                    padding: 27px 20px;
                    height: 350px;
                }
            }
            .check-box {
                label {
                    font-size: 13px;
                    color: #666;
                    font-weight: 300;
                    vertical-align: top;
                    margin-bottom: 0;
                    &:last-child {
                        margin-left: 80px;
                    }
                    input[type=checkbox] {
                        margin-top: -2px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .btn-area {
            display: none;
            @media(min-width: $sm) {
                display: block;
                margin-top: 45px;
            }
        }
    }
}

/* sms */
.sms {
    padding-bottom: 78px;
    @media(min-width: $sm) {
        padding-bottom: 90px;
    }
    .section-content {
        .verify {
            .article-header {
                h4 {
                    font-size: 14px;
                    color: #222;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 12px;
                    color: #666;
                    line-height: 20px;
                }
                @media(min-width: $sm) {
                    h4 {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                }
            }
            .article-content {
                text-align: center;
                margin-top: 18px;
                padding: 42px 20px;
                border: 1px solid #dfdfdf;
                background-color: #fff;
                @media(min-width: $sm) {
                    padding: 74px 30px;
                }
                .sms-img {
                    margin-bottom: 20px;
                    @media(min-width: $sm) {
                        margin-bottom: 0;
                        display: inline-block;
                    }
                }
                .btn-area {
                    @media(min-width: $sm) {
                        margin-left: 70px;
                        display: inline-block;
                    }
                }
                .dot-list {
                    width: 100%;
                    text-align: left;
                    margin-top: 24px;
                    padding-top: 24px;
                    border-top: 1px solid #dfdfdf;
                    li {
                        font-size: 12px;
                        line-height: 22px;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    @media(min-width: $sm) {
                        margin-top: 75px;
                        padding-top: 30px;
                        li {
                            font-size: 13px;
                            line-height: 30px;
                            margin-bottom: 0;
                        }
                    }
                    @media(min-width: $md) {
                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

/* join */
.join {
    padding-bottom: 95px;
    .section-content {
        .join-info {
            h4 {
                font-size: 14px;
                color: #222;
                margin-bottom: 15px;
                @media(min-width: $sm) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            > p {
                font-size: 12px;
                color: #666;
                line-height: 20px;
                margin-bottom: 15px;
                &:before {
                    content: "*";
                    font-size: 13px;
                    color: #f0585d;
                    margin-right: 2px;
                }
                @media(min-width: $sm) {
                    font-size: 13px;
                    margin-bottom: 20px;
                }
            }
            .input-form.type-1 {
                dl {
                    dt {
                        padding-left: 4px;
                        padding-right: 4px;
                        &.bold-before {
                            &:before {
                                content: "*";
                                color: #f0585d;
                                margin-right: 2px;
                            }
                        }
                    }
                    dd {
                        .form-control {
                            padding-left: 5px;
                            padding-right: 5px;
                            font-size: 12px;
                        }
                        &.user-dd {
                            .form-control {
                                display: inline-block;
                                width: 200px;
                                margin-right: 7px;
                            }
                            .btn-basic {
                                
                                .btn {
                                    
                                }
                            }
                        }
                        &.user-mail {
                            .form-control {
                                width: 170px;
                                display: inline-block;
                                margin-right: 7px;
                            }
                            select {
                                width: 100px !important;
                            }
                        }
                        &.phone {
                            select {
                                width: 70px !important;
                            }
                            .form-control {
                                display: inline-block;
                                width: 90px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
































